.Logo{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #71d679;
}

.contract-container{
    color: #71d679;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.contract-container ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 50px;
}

.contract-container ul li{
    display: flex;
    flex-direction: column;
}

.contract-container ul li img{
    max-width: 100%;
}

.contract-container ul li footer{
    flex: 1;
}

.contract-container ul li footer strong{
    color: #08f81c;
    flex: 1;
}

.contract-container ul li footer p{
    color: #54f35c;
    flex: 1;
}

.contract-container ul li input{
    text-align: center;
    margin-top: 5px;
    border: 1px solid #71d679;
    border-radius: 4px;
    height: 30px;
    width: 200px;
    font-size: 15px;
    background: black;
    color: #71d679;
    font-weight: bold; 
}

.contract-container ul li #descript{
    
    height: 150px;
}

.contract-container button{
    margin-top: 5px;
    border: 1px solid #71d679;
    border-radius: 4px;
    height: 30px;
    width: 65px;
    font-size: 15px;
    background: black;
    color: #71d679;
    font-weight: bold; 
}

.contract-container ul li button {
    width: 200px;
}

.Logo button:hover, .contract-container button:hover{
    cursor: pointer;
    color: #0c9717;
    border: 1px solid #0c9717;
}